@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;400;500&display=swap");
:root {
  --orange: #d95550;
  --lightOrange: #dd6662;
  --veryLightOrange: #f89e8b;
  --gray: #55557b;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--orange);
}

h1 {
  margin-top: 200px;
  color: var(--white);
  text-align: center;
}

form {
  width: 400px;
  margin: 45px auto;
}

.input-text {
  background-color: var(--orange);
  color: var(--white);
  border-style: none;
}

.input-text::placeholder {
  color: var(--veryLightOrange);
}

.input-text:focus {
  outline: none;
}

#addBtn {
  font-size: 2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  color: var(--orange);
}

#addBtn:hover {
  background-color: var(--veryLightOrange);
  cursor: pointer;
  color: var(--white);
}

.list-container {
  width: 400px;
  margin: 0 auto;
}
.task-container {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 16px;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--gray);
}
.delete-btn {
  font-size: 1em;
  border: none;
  background-color: var(--white);
}
.delete-btn {
  cursor: pointer;
}

#stats {
  margin-top: 25px;
  font-size: 1.3em;
  color: var(--veryLightOrange);
  text-align: center;
}
